.tags-container {
	display: flex;
	gap: 0.25em;
	flex-wrap: wrap; /* Allow tags to wrap to the next row */
}

.tag {
	color: var(--color-gray-light);
	width: fit-content;
	max-width: fit-content;
	padding: 0.2em 0.5em;
	font-size: 0.6em;
  font-weight: 600;
	border: solid 1px var(--color-purple-primary);
	border-radius: 0.75em;
	white-space: nowrap;
}
