/* Här finns all global styling, t. ex. generella typografival */

@import "./styles/variables.css";

* {
	font-family: var(--main-font);
	color: var(--color-gray-light);
}

::selection {
	color: #fff;
	background-color: var(--color-purple-primary);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--color-black);
}

h1 {
	font-family: var(--h1-font);
	font-size: 3em;
	color: var(--color-purple-primary);
  transition: transform 0.8s;
}

h1:hover {
	color: var(--color-green-primary);
	transform: rotate3d(1, 1, 1, 5deg);
	transition: transform 0.8s;
}

h2 {
	font-weight: 300;
	font-size: 1.8em;
}

h2:hover {
	color: var(--color-green-primary);
	transition: color 0.3s;
}

p {
	font-weight: 300;
	font-size: 1em;
}

.app-container {
  margin: auto;
  max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20vh;
	padding: 2em;
}
