/* Här finns all global styling, t. ex. generella typografival */

@import "./styles/variables.css";

* {
	font-family: var(--main-font);
	color: var(--color-gray-lighter);
}

::selection {
	color: #fff;
	background-color: var(--color-purple-primary);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--color-black);
}

h1, .name-heading {
	font-family: var(--h1-font);
	font-size: 3rem;
	color: var(--color-purple-primary);
  transition: transform 0.8s;
}


h1:hover, .name-heading:hover {
	color: var(--color-green-primary);
}

.name-heading {
	text-decoration: none;
}

h2 {
	font-weight: 300;
	font-size: 1.8em;
}

h2:hover {
	color: var(--color-green-primary);
	transition: color 0.3s;
}

p {
	font-weight: 300;
	font-size: 0.8em;
}

.twist-animation:hover {
	transform: rotate3d(1, 1, 1, 5deg);
	transition: transform 0.8s;
}

.app-container {
  margin: auto;
	width: 100%;
  max-width: 2000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
	padding: 2em;
}

.landing-container {
  margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.work-link {
	background-color: var(--color-black);
	color: var(--color-green-primary);
	border: 2px solid var(--color-green-primary);
	margin-top: 3em;
	padding: 1em;
	text-align: center;
	font-size: 1em;
	font-weight: 800;
	transition: padding 0.3s;
	border-radius: 5em;
	text-decoration: none;

	&:hover {
		background-color: var(--color-green-primary);
		color: var(--color-black);
		border: 2px solid var(--color-green-primary);
		transition: padding 0.3s;
	}
}


@media screen and (max-width: 650px) {
	h2 {
		font-size: 1.6em;
	}
}